.content{
    background-image: url("C:\Users\sam\OneDrive\Desktop\React file\my-app\public\Paal-Peda.jpg");
    height: 70vh;
    width: 80vw;
    background-size: auto;
    background-repeat: no-repeat;
}